/**/
div.c26 {
    margin-left: 0.7em
    }
div.c25 {
    text-indent: -0.7em
    }
div.c24 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold
    }
div.c23 {
    margin: 0.83em 0;
    font-size: 1.1em;
    text-align: center
    }
span.c22 {
    font-size: smaller
    }
div.c21 {
    display: block;
    margin: 1em 0
    }
div.c20 {
    display: block;
    margin-top: 4em
    }
tr.c19 {
    font-size: 4.30554pt
    }
span.c18 {
    margin-left: 2.77695pt
    }
span.c17 {
    margin-left: 1.8887pt
    }
span.c16 {
    margin-left: 2.22198pt
    }
span.c15 {
    margin-left: 0.3em
    }
div.c14 {
    white-space: nowrap;
    text-align: center
    }
tr.c13 {
    font-size: 1.72221pt
    }
tr.c12 {
    font-size: 3.44444pt
    }
td.c11 {
    white-space: nowrap;
    text-align: right
    }
td.c10 {
    white-space: nowrap;
    text-align: left
    }
tr.c9 {
    vertical-align: baseline
    }
td.c8 {
    white-space: nowrap;
    text-align: center
    }
span.c7 {
    font-style: italic
    }
div.c6 {
    margin-top: 2em;
    margin-bottom: 4em
    }
div.c5 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
    }
div.c4 {
    display: block;
    margin: 1em 0
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em
    }
div.c2 {
    display: block;
    margin: 1em 0
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold
    }
/**/